/*	CONFIG
	====== */

/*	TYPOGRAPHY
	========== */

$iconFont: "icons" !important;

$sans-serif: "pragmatica-web", Helvetica, Arial, sans-serif;
$serif: $sans-serif;
$fontWeightNormal: 300;
$fontWeightBold: bold;


/*	LAYOUT
	====== */

/* Site breakpoints */

$tiny: 400px;
$small: 600px;
$medium: 800px;
$large: 60em;


/* The padding on u-lHeader, u-lMain, u-lFooter, and u-NavSite. */

$layoutContainerPadding--tiny: 4%;
$layoutContainerPadding--medium: 3%;


/* COLOR
	====== */

/* Basic link colors - these colors also affect the Google Search result link colors */

$linkColor: #20B3AB;
$linkColorHoverFocus: #cc0000;
$linkColorVisited: #aaa; /* tint($linkColorVisited, 50%) or shade($linkColorVisited, 50%) can be used to lighten or darken hue */
$linkColorActive: #ED6707;
$linkBorderColor: tint($linkColor, 50%);


/* MODULES
	======== */


/* Bios */

$u-BioList__name--font: 1.2em $sans-serif;
$u-BioList__title--font: 100% $sans-serif ;
$u-Bio__title--font: bold 100% $serif;
$u-Bio__contactItemLabel--font: bold .85rem $sans-serif ;
$u-Bio__contactData--font: .9rem $sans-serif ;

$u-Bio__title--color: inherit;
$u-Bio__contactItemLabel--color: inherit;
$u-Bio__contactData--color: inherit;


/* Breadcrumbs  */

$u-BreadCrumbs__item--font: .9rem $sans-serif;

$u-BreadCrumbs__item--dividerColor: #ccc;

$u-BreadCrumbs__item--linkColor: #3789CC;
$u-BreadCrumbs__item--linkColorHoverFocus: #cc0000;
$u-BreadCrumbs__item--linkColorVisited: #666;
$u-BreadCrumbs__item--linkColorActive: #ED6707;


/* Footer */

$u-VCard__site--font: normal 1rem $sans-serif;
$u-VCard__site--labelFont: normal 1rem $sans-serif;

$u-VCard__site--color: inherit;
$u-VCard__site--labelColor: inherit;

$u-VCard__site--linkColor: #3789CC;
$u-VCard__site--linkColorHoverFocus: #cc0000;
$u-VCard__site--linkColorVisited: #666;
$u-VCard__site--linkColorActive: #ED6707;

$u-VCard__site--border: none;


/* Images */

$u-Figure__caption--font: normal .9rem $sans-serif;

$u-Figure__caption--linkColor: #3789CC;
$u-Figure__caption--linkColorHoverFocus: #cc0000;
$u-Figure__caption--linkColorVisited: #666;
$u-Figure__caption--linkColorActive: #ED6707;


/*	Google search results  */

$gsSearchTermHighlighted: #f0f;	/* Currently being overridden by something in Google's default CSS */

$gs-visibleUrl-long--font: normal 9rem $sans-serif !important;
$gs-visibleUrl-long--color: #006621 !important;
	
/* The numbers that represent pages of search results */
$gsPaginationNumberBorderColor: #eee;
$gsPaginationCurrentLinkBorder: #ccc;
$gsPaginationCurrentLinkBackground: #eee;
$gsPaginationHoverLinkBorder: #ccc;
$gsPaginationHoverLinkBackground: #ddd;


/* Nav */

$u-NavSite__level--1--font: bold 1.4rem/1.1 $sans-serif;
$u-NavSite__level--2--font: normal 1.2rem/1.1 $sans-serif;
$u-NavSite__level--3--font: normal 1rem/1.1 $sans-serif;
/* level 3 covers Level 3 and up. */

$u-NavSite__level--borderColor: 1px solid #eee;

$mobileMenuBackground: #666;
$mobileMenuLinkColor: #aaa;


/* LATEST Modules basic */

$sidebarModule__header--font: $fontWeightBold 1.25rem/1.1 $sans-serif;
$sidebarModule--nameFont: bold .9rem $sans-serif;
$sidebarModule--font: normal .9rem $sans-serif;
$sidebarModule--labelFont: $fontWeightBold .9rem $sans-serif;
$sidebarModule--margin: 0 0 1.5em;
/* Use these variables to place a bg color on side news announcement items */
$sidebarModuleAnnouncements__link--background: transparent;
$sidebarModuleAnnouncements__link--padding: 0;
$sidebarModule__listItem--border: 1px solid #eee;

$sidebarModule__header--linkColor: $linkColor;
$sidebarModule__header--linkColorHoverFocus: $linkColorHoverFocus;
$sidebarModule__header--linkColorActive: $linkColorActive;
$sidebarModule__header--linkColorVisited: $linkColorVisited;
$sidebarModule__header--linkColorHoverFocus: $linkColorHoverFocus;


/* News  */

$u-ArticleListItem__title--font: bold 1.31rem $sans-serif;
$u-ArticleListItem__summary--font: normal 1.195rem $sans-serif;
$u-ArticleListItem__label--type--font: normal 1.195rem $sans-serif;
$u-ArticleListItem__label--dateline__posted--font: normal 1.195rem $sans-serif;
$u-ArticleListItem__label--dateline__postedDate--font: normal 1.195rem $sans-serif;

$u-ArticleListItem__link--linkColor: #3789CC;
$u-ArticleListItem__link--linkColorHoverFocus: #cc0000;
$u-ArticleListItem__link--linkColorVisited: #666;
$u-ArticleListItem__link--linkColorActive: #ED6707;

/* Not sure all these color settings are necessary
$u-ArticleListItem__label--type--color:;
$u-ArticleListItem__label--dateline__posted--color:;
$u-ArticleListItem__label--dateline__postedDate--color:f; */

/* LATEST Moved to Module Basic above
$u-NewsList__itemContainer--margin: 1em 0;
$u-NewsList__item--background: transparent;
$u-NewsList__item--padding: 0; */

$buttonBgColor: #ccc;
$buttonBgColorHoverFocus: #999;
$buttonBgColorVisited: #ccc;
$buttonBgColorActive: #666;

$buttonLinkColor: #333;
$buttonLinkColorHoverFocus: #fff;
$buttonLinkColorVisited: #333;
$buttonLinkColorActive: #ccc;

$uniqueButtonBgColor: #666;
$uniqueButtonBgColorHoverFocus: #999;
$uniqueButtonBgColorVisited: #666;
$uniqueButtonBgColorActive: #333;

$uniqueButtonLinkColor: #fff;
$uniqueButtonLinkColorHoverFocus: #666;
$uniqueButtonLinkColorVisited: #fff;
$uniqueButtonLinkColorActive: #ccc;

$u-ArticleList__systemMessage--font: normal 1.1rem/1.2 $serif;;
$u-ArticleList__systemMessage--color: #eee;

/*	Search
	------ */

$u-Search__submit--bgColor: #444;
$u-Search__submit--iconColor: #aaa;
$u-Search__field--bgColor: #000;
$u-Search__field--textColor: #aaa;
$u-Search__field--placeholderColor: #aaa;

$u-Search--borderSize: border-bottom;
$u-Search--borderSettings: none;

$pointAtWhichSearchMovesToRight: 1040px;
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/

/*	Mobile search colors
	-------------------- */

$searchBtnColor--activated: #f00;


/*	Mobile menu colors
	------------------ */
	
/* $MenuBtnColor--activated: #000; */


/*	Mobile search and menu colors
	----------------------------- */
	
$searchAndMenuBtnBackground--activated: #000;	/* The background color of a button, when activated */


/*	Mobile search colors
	-------------------- */

$mobileHeaderBg: #000;					/* The background of the "Vassar College" area */
$searchAndMenuBtnBackground: #000;		/* The background of the search and menu buttons */
$searchAndMenuBtnColor: #d94;			/* The color of the search icon and Menu text */
$searchBtnAndMenuBtnDividerColor: #000;	/* The color of the space between search and menu */

$mobileSearchBackground: #000;

/* Don't modify these */

$searchType: Helvetica, Arial, sans-serif;
$mobileHeaderHeight: 4rem;


$searchHeight: 2rem;
$searchPositionTop: 2rem;
$searchPositionRight: 2rem;

$figureMargin: 2.5%;
